# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
vendor/

# Logs and databases
*.log
*.sqlite3
*.db
*.sqlite3-journal

# System files
.DS_Store
Thumbs.db

# Ruby specific
*.gem
.ruby-version
.ruby-gemset

# Bundler
.bundle/

#outside files
video.avi